
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-down-open-mini:before { content: '\e801'; } /* '' */
.icon-facebook-1:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */