
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-down-open-mini:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */