<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><% if(page.title) { %><%- page.title %> - <% } %>elżbieta.nieśmigielska.com - fotografia okolicznościowa - Poznań</title>
    <meta name="Description" content="Pracuję na terenie Poznania i całej Wielkopolski. Zapraszam do zapoznania się z ofertą.">
    <meta property="og:title" content="Elżbieta Adamska. Fotografia ślubna, rodzinna, okolicznościowa, reportaż." />
    <meta property="og:description" content="Pracuję na terenie Poznania i całej Wielkopolski. Zapraszam do zapoznania się z ofertą." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- url %>" />
    <meta property="og:image" content="http://farm5.staticflickr.com/4286/35122346035_e778d02f51_z.jpg" />
    <link rel="stylesheet" href="/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
